// TODO: style worm
// TODO: style grid
// TODO: style apple
// TODO: style text
// TODO: style buttons
// TODO: game over display
// TODO: add mobile controls

* {
  margin: 0;
  padding: 0;
  // border causes problems with the grid because you need to take into account the border width!!!
  // box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin-top: 5px;
}

.snake-emoji {
  vertical-align: bottom;
}

.game-container {
  margin-top: 15px;
  // background-color: lightblue;
}

.scoreboard {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.score {
  // background-color: yellow;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 225px;
  border: solid 2px black;
  background-color: lightpink;
  margin: 10px 0;
}

.square {
  width: 15px;
  height: 15px;

}

.snake {
  background-color: green;
  border-radius: 35%;
}

.apple {
  background-color: blue;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 40px;
  height: 40px;
  border: unset;
  border-radius: 5%;

  cursor: pointer;
  box-shadow: 2px 2px 4px black;
  background-color: #7bb2f6;
  text-align: center;
  text-decoration: none;
  padding: 0;
  font-size: 1rem;
  font-family: inherit;
  color: white;
}

.button:hover, .button:focus {
  background-color: gray;
  outline-style: none;
}

.d-pad-container {
  // background-color: lightyellow;
  width: 120px;
}

.btn-row1, .btn-row3 {
  display: flex;
  justify-content: center;
}

.btn-row2 {
  display: flex;
  justify-content: space-between;
}

// .d-btn {
//   width: 40px;
//   height: 40px;
//   padding: 0;
// }
