// main: ./main.scss

.header {
  margin-top: 20px;
  text-align: center;
  font-family: 'Dela Gothic One', cursive;
  color: #4d4787;
}

h1 {
  font-size: 1.3rem;
}

.italic {
  font-style: italic;
}
