* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 150px;
  border: solid 2px black;
}

.square {
  width: 15px;
  height: 15px;
  background-color: lightpink;
}

.snake {
  background-color: green;
}

.apple {
  background-color: blue;
}
