* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin-top: 5px;
}

.snake-emoji {
  vertical-align: bottom;
}

.game-container {
  margin-top: 15px;
}

.scoreboard {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 225px;
  border: solid 2px black;
  margin: 10px;
}

.square {
  width: 15px;
  height: 15px;
  background-color: lightpink;
}

.snake {
  background-color: green;
}

.apple {
  background-color: blue;
}
